* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 500px;
  height: 500px;
}

.box {
  background-color: yellow;
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7em;
}
